# environment variables defined inside a .env file
ODOO_USER='mysuperOdoo@user'
ODOO_PW='myverysupersecretodoopassword'
ODOO_DB = 'bd_name'
ODOO_URL = 'https://mysuper.awesomedomain.cl'
TEAPK = ''
TEACERT = ''
GANDPK = ''
GANDCERT = ''